# Ch02 DIB 수정

In [205]:
import numpy as np
import pandas as pd 
import matplotlib as mpl
import matplotlib.pyplot as plt

from numba import jit
from adv_finance import bars

In [206]:
%load_ext autoreload 
%autoreload 2

plt.style.use('seaborn-talk')
plt.style.use('bmh')
pd.set_option('display.max_rows', 100)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [207]:
# * A122630 KODEX 레버리지(ISIN: KR7122630007)
# * A252670 KODEX 200선물인버스2X(ISIN: KR7252670005)
# * A233740 KODEX 코스닥150레버리지(ISIN: KR7233740000)
# * A251340 KODEX 코스닥150선물인버스(ISIN: KR7251340006)
# * A005930 삼성전자(ISIN:KR7005930003)

TRADE_A233740 = pd.read_parquet('/nfs/data/interim/TRADE_A233740.parq').set_index('TIME')
df = TRADE_A233740

In [208]:
df.head()

                     PRICE         BID         ASK     V        DV
TIME
2018-01-02 09:01:43  19800 -2147483648 -2147483648    60   1188000
2018-01-02 09:03:06  19800 -2147483648 -2147483648     1     19800
2018-01-02 09:04:56  19800 -2147483648 -2147483648   110   2178000
2018-01-02 09:13:44  19800       20005       20030     1     19800
2018-01-02 09:20:01  19800       19900       19940  2000  39600000

In [202]:
# @jit(nopython=True)
# def numba_isclose(a,b,rel_tol=1e-09,abs_tol=0.0):
#     return np.fabs(a-b) <= np.fmax(rel_tol*np.fmax(np.fabs(a), np.fabs(b)), abs_tol)


# @jit(nopython=True)
# def bt(p0, p1, b0): 
# #     if math.isclose((p1-p0), 0.0, abs_tol=0.001): 
#     if numba_isclose((p1-p0), 0.0, abs_tol=0.001):
#         b = b0
#         return b
#     else: 
#         b = np.abs(p1-p0)/(p1-p0)
#         return b
    
# @jit(nopython=True)
# def get_imbalance_(t): 
#     bs = np.zeros_like(t)
#     last_b = 0
#     for i in np.arange(1, bs.shape[0]): 
#         last_b = int(bt(t[i-1], t[i], last_b))
#         bs[i-1] = last_b
#     return bs[:-1] # remove last value

# @jit(nopython=True)
# def get_imbalance(t): 
#     bs = np.sign(np.diff(t))
#     bs[0] = 1
#     for i in np.arange(1, bs.shape[0]): 
#         if numba_isclose(bs[i], 0.0):
#             bs[i] = bs[i-1]
#     return bs

In [214]:
%%time 
tidx = bars.get_imbalance(df.PRICE.values)

CPU times: user 133 ms, sys: 89.7 ms, total: 222 ms
Wall time: 222 ms