In [5]:
import pandas as pd 
import matplotlib as mpl
import matplotlib.pyplot as plt


from adv_finance import bars

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
%load_ext autoreload 
%autoreload 2

In [ ]:
plt.style.use('seaborn-talk')
plt.style.use('bmh')
pd.set_option('display.max_rows', 100)

## Load Tick Data

In [8]:
df = pd.read_parquet('/nfs/data/interim/TRADE_A233740.parq').set_index('TIME')

In [9]:
df_dvbar = bars.dollar_bars(df, 'DV', 1_000_000_000)

100%|██████████| 11946001/11946001 [00:05<00:00, 2340162.78it/s]

In [12]:
df_dvbar

                     PRICE    BID    ASK       V          DV
TIME
2018-01-02 10:00:03  19980  19980  19985  213856  4272842880
2018-01-02 10:00:15  20005  20005  20015    1143    22865715
2018-01-02 10:00:39  20045  20040  20045     901    18060545
2018-01-02 10:01:11  20050  20045  20050     564    11308200
2018-01-02 10:01:30  20080  20075  20080    5575   111946000
2018-01-02 10:01:38  20100  20095  20100    9380   188538000
2018-01-02 10:01:59  20120  20120  20130    4570    91948400
2018-01-02 10:02:09  20170  20160  20170    4003    80740510
2018-01-02 10:02:21  20210  20210  20215    2000    40420000
2018-01-02 10:02:32  20205  20200  20205     200     4041000
2018-01-02 10:02:46  20180  20160  20180     575    11603500
2018-01-02 10:02:58  20180  20180  20190    1643    33155740
2018-01-02 10:03:15  20090  20090  20100     747    15007230
2018-01-02 10:03:32  20075  20065  20080    1857    37279275
2018-01-02 10:03:52  20095  20080  20090    5177   104031815
2018-01-02 10:04:17  20075  20075  20100     710    14253250
2018-01-02 10:04:46  20125  20100  20125    1100    22137500
2018-01-02 10:05:18  20125  20115  20125    2000    40250000
2018-01-02 10:05:41  20095  20090  20100     332     6671540
2018-01-02 10:05:58  20075  20070  20075    1353    27161475
2018-01-02 10:06:25  20045  20040  20045    5703   114316635
2018-01-02 10:06:45  19975  19965  19975    1000    19975000
2018-01-02 10:07:13  19900  19900  19910    1711    34048900
2018-01-02 10:07:39  19875  19875  19890     150     2981250
2018-01-02 10:08:15  19865  19865  19870    1324    26301260
2018-01-02 10:08:50  19850  19850  19855     435     8634750
2018-01-02 10:09:16  19825  19815  19825     534    10586550
2018-01-02 10:09:46  19890  19890  19895    2747    54637830
2018-01-02 10:10:24  19875  19875  19885    1900    37762500
2018-01-02 10:11:12  19910  19905  19910    1241    24708310
...                    ...    ...    ...     ...         ...
2018-12-28 14:57:21  11990  11990  11995     993    11906070
2018-12-28 14:57:39  11995  11990  11995    6256    75040720
2018-12-28 14:58:11  12000  11995  12000    5300    63600000
2018-12-28 14:58:40  12000  12000  12005     258     3096000
2018-12-28 14:59:14  11990  11990  11995     515     6174850
2018-12-28 14:59:53  11995  11995  12000    1202    14417990
2018-12-28 15:00:34  11990  11985  11990    9382   112490180
2018-12-28 15:01:12  11985  11985  11990    2000    23970000
2018-12-28 15:01:51  11980  11975  11980    2000    23960000
2018-12-28 15:02:48  11970  11970  11975    1272    15225840
2018-12-28 15:03:59  11975  11975  11980     800     9580000
2018-12-28 15:04:36  11980  11975  11985    1256    15046880
2018-12-28 15:06:04  11965  11965  11970    1000    11965000
2018-12-28 15:06:53  11960  11960  11965   10000   119600000
2018-12-28 15:07:12  11960  11960  11965    2000    23920000
2018-12-28 15:08:03  11965  11965  11970     151     1806715
2018-12-28 15:09:35  11965  11965  11970    1780    21297700
2018-12-28 15:10:24  11965  11960  11965    4170    49894050
2018-12-28 15:11:17  11970  11970  11975     258     3088260
2018-12-28 15:12:06  11975  11975  11980    1000    11975000
2018-12-28 15:12:48  11975  11970  11975    2000    23950000
2018-12-28 15:13:32  11975  11970  11975     992    11879200
2018-12-28 15:14:13  11970  11970  11975     481     5757570
2018-12-28 15:15:00  11965  11965  11970    1179    14106735
2018-12-28 15:16:05  11955  11955  11960    1779    21267945
2018-12-28 15:16:50  11950  11945  11950    2000    23900000
2018-12-28 15:17:55  11945  11945  11950     992    11849440
2018-12-28 15:18:36  11950  11945  11950     992    11854400
2018-12-28 15:19:24  11965  11960  11965     992    11869280
2018-12-28 15:19:46  11965  11965  11970    2000    23930000

[66184 rows x 5 columns]